.pagination{
	margin:20px 0px;
	.prev-page{
		text-align:left;
	}
	.page-no{
		text-align:center;
	}
	.next-page{
		text-align:right;
	}

	button:focus {
		outline: none !important;
		box-shadow: none;
	 }
}

.example-card {
	max-width: 500px;
	min-width: 500px;
	min-height: 500px;
	.mat-card-header{
		margin-bottom: 15px;
		.mat-card-subtitle{
			margin-bottom: 0px;
		}
	}
}

