<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<a [routerLink]="['/template-form']">Template Driven Form</a>
			&nbsp;&nbsp;|&nbsp;&nbsp;
			<a [routerLink]="['/reactive-form']">Reactive Form</a>
			&nbsp;&nbsp;|&nbsp;&nbsp;
			<a [routerLink]="['/form-builder']">Form Builder</a>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6">
				<h1 class="mat-h2">User Details</h1>
				<mat-form-field appearance="outline">
					<mat-label>Full Name</mat-label>
					<input matInput placeholder="Enter full name">
				</mat-form-field>
			</div>
		</div>
	</div>
</div>