<div class="col-sm-12 col-md-6">
	<div class="border-box">
		<form #userlogin="ngForm" (ngSubmit)="loginMethod(userlogin.value)">
			<div class="form-label-group">
				<label for="uname"><b>Username</b></label>
				<input type="text" placeholder="Enter Username" name="uname" required ngModel autocomplete="off">
			</div>

			<div class="form-label-group">
				<label for="psw"><b>Password</b></label>
				<input type="password" placeholder="Enter Password" name="psw" required ngModel>
			</div>	

			<div class="form-label-group">
				<button type="submit">Login</button>
			</div>	

			<div class="sample">
				<p>Sample login data :</p>
				<ul>
					<li>naga - naga@123</li>
					<li>rajan - rajan@123</li>
				</ul>	
			</div>
		</form>	
	</div>	
</div>